:host {
  display: flex;
  align-items: center;
  background-color: #f4f4f4;
  border-bottom: 1px dotted #ccc;
  padding: 10px;
}
:host([data-completed="true"]) label {
  text-decoration: line-through;
}

input, label, button {
  cursor: pointer;
}

label {
  flex-grow: 1;
}

button {
  float: right;
}
